[Unit]
Description=Dynamically update /etc/hosts
After=network.target systemd-networkd-wait-online.service NetworkManager-wait-online.service
Before=network-online.target

[Service]
ExecStart=/usr/bin/dynhostmgr
ExecStartPost=/usr/bin/sh -c "until grep '### DYNAMIC HOSTS START ###' /etc/hosts; do sleep 1; done"

[Install]
WantedBy=network.target
