[Unit]
Description=Watch journalctl and report relevant events to ntfy
Requires=network-online.target
After=network-online.target

[Service]
TimeoutStartSec=infinity
ExecStartPre=/bin/sh -c 'until curl -fsSL -o /dev/null ntfy.pdiehm.dev; do sleep 1; done'
ExecStart=/usr/local/lib/journalwatch/journalwatch.sh

[Install]
WantedBy=multi-user.target
