[Unit]
Description=Link systemd-resolved stub-resolv.conf to /etc/resolv.conf
Before=network.target

[Service]
Type=oneshot
ExecStart=/usr/bin/ln -sf /run/systemd/resolve/stub-resolv.conf /etc/resolv.conf

[Install]
WantedBy=network.target
