Host *
  ControlMaster auto
  ControlPath ~/.ssh/.ctl-%h-%C
  ControlPersist 600
  IdentitiesOnly yes
  SetEnv TERM=xterm-256color

Host arch
  IdentityFile ~/.ssh/arch
  Port 1970

Host bowser
  IdentityFile ~/.ssh/bowser
  ForwardAgent yes
  Port 1970

Host goomba
  IdentityFile ~/.ssh/goomba
  ForwardAgent yes
  Port 1970

Host github.com
  IdentityFile ~/.ssh/github
