HostKey /etc/ssh/host_key
AuthorizedKeysFile /etc/ssh/authorized_keys
Subsystem sftp /usr/lib/ssh/sftp-server

AllowUsers pascal
KbdInteractiveAuthentication no
PasswordAuthentication no
PermitRootLogin no
MaxAuthTries 1

Port 1970
GatewayPorts yes
